<?xml version="1.0" encoding="utf-8"?>
    <phpunit
            colors="true"
            verbose="true"
            bootstrap="vendor/autoload.php">
        <php>
            <var name="FOO" value="bar" />
            <var name="BAZ" value="foobar" />
        </php>
        <testsuites>
            <testsuite name="Bingo Functional Testsuite">
                <directory suffix="Test.php">tests</directory>
            </testsuite>
        </testsuites>
    </phpunit>
