<?xml version="1.0" encoding="utf-8"?>
    <phpunit
            colors="true"
            verbose="true"
            bootstrap="vendor/autoload.php">
        <php>
            <var
                name="ERROR_MSG"
                value="An error occurred." />
            <var
                name="ERROR_MSG_STR"
                value="There seems to be a problem with the string." />
        </php>
        <testsuites>
            <testsuite name="Bingo Functional Testsuite">
                <directory suffix="Test.php">tests</directory>
            </testsuite>
        </testsuites>
    </phpunit>
