<?xml version="1.0" encoding="utf-8"?>
<phpunit
  colors="true"
  columns="max"
  verbose="true"
  cacheResult="false"
  bootstrap="vendor/autoload.php"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Functional">
      <directory suffix="Test.php">tests/Functional</directory>
    </testsuite>
    <testsuite name="Functors">
      <directory suffix="Test.php">tests/Functors</directory>
    </testsuite>
    <testsuite name="Immutable">
      <directory suffix="Test.php">tests/Immutable</directory>
    </testsuite>
    <testsuite name="Pattern Matching">
      <directory suffix="Test.php">tests/PatternMatching</directory>
    </testsuite>
    <testsuite name="Transient">
      <directory suffix="Test.php">tests/Transient</directory>
    </testsuite>
  </testsuites>
</phpunit>
